<!doctype html>
<html>

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <title> VSA@NYCU Đại Chiến 2023</title>
</head>

<body class="body-class">
    <div class="container">
        <div class="row">
            <div class="col col-server-status cell">
                {% if sv_status == 'ACTIVE' %}
                <h3 class="server-status-open">Server: {{sv_status}}</h3>
                <span>140.113.128.152{{port}}</span>
                {% else %}
                <h3 class="server-status-close">Server: {{sv_status}}</h3>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <span>Online</span>
            <ul>
                {% for player in player_info %}
                <li>{{ player.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
